[user]
	email = cboette@gmail.com
	name = chrisbodhi
[github]
	user = chrisbodhi
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	migrate-to-main = "!m() { git branch -m master main && git fetch origin && git branch -u origin/main main && git remote set-head origin -a ;}; m"
[core]
	excludesfile = $HOME/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	template = $HOME/.gitmessage
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[pull]
	rebase = false
